services:
  postgres:
    image: postgres:15.1-alpine
    container_name: teamsync-db 
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
     
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql # if you use flyway or liquibase, then you can comment this line
    ports:
      - "5433:5432"

volumes:
  db-data:
